
.slider__inner {
	position: relative;
}

.slider{
	background-image: url('../../images/background.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 500px;
}
.slider__item-content{
	text-align: center;
	padding-top: 110px;
	max-width: 665px;
	margin: 0 auto;
}
.slider__title{
	text-transform: uppercase;
	font-size: 30px;
	line-height: 36px;
	color: #fff;
	font-weight: 500;
	letter-spacing: 1.5px;
	margin-bottom: 22px;
	font-family: 'Roboto', sans-serif;
}
.slider__text{
	line-height: 24px;
	font-size: 18px;
	color: #d3d2d2;
	margin-bottom: 50px;  
}
.default-btn{
	display: inline-block;
	font-size: 14px;
	line-height: 24px;
	color: #fff;
	font-weight: 500;
	font-family: 'Roboto', sans-serif;
	padding: 8px 30px 8px 24px;
	border: 1px solid #ffc222;
	border-right-width: 20px;
	position: relative;
	z-index: 2;
	outline: none;
}
.default-btn:after{
	content: "\f105";
	font-family: 'icomoon';
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: -12px;
}
.slider__inner{
	position: relative;
}

.default-btn {
	background: transparent;
	color: #fff;
	font-size: 14px;
	line-height: 24px;
	border: 1px solid #ffc222;
	padding: 8px 24px ;
	border-right: 22px solid #ffc222;
	display: inline-block;
}



.slick-prev,
.slick-next
{
	background: #c3c3c3;
	line-height: 0;
	padding: 0;
	font-size:0;
	position: absolute;
	top: 50%;
	display: block;

	width: 50px;
	height: 30px;

	transform: translate(0, -50%);
	cursor: pointer;
	border: none;
	opacity: 1;

}

.slick-prev
{
	left: -25px;
}
.slick-next
{
	right: -25px;

}
.slick-prev.slick-disabled,
.slick-next.slick-disabled
{
	opacity: .25;
}


.slick-dotted.slick-slider
{
	margin-bottom: 30px;
}

.slick-dots
{
	position: absolute;
	bottom: -100px;

	display: flex;
	justify-content: center;
	width: 100%;
	padding: 0;

	list-style: none;
	text-align: center;

	width: 100%;
}


.slick-dots li button {
	margin-left: 10px;
	background: #c3c3c3;
	font-size:0;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 0;
	opacity:1;	
}

.slick-dots button:hover,.slick-dots button:active, .slick-prev:active,
.slick-next:active, .slick-prev:hover,
.slick-next:hover
{
	opacity: 1;
	background: #fff;
	cursor: pointer;

}
