.company {
	background: url('../../images/company-bg.png');
	background-position: center;
	background-size: cover;
	min-height: 300px;
	background-repeat: no-repeat;
	padding: 25px 0 45px;
}

.company__inner {
	max-width: 545px;
}
.company__title {
	margin-bottom: 20px;
	font-size: 24px;
	line-height: 24px;
	color: #fff;
}
.company__text{
margin-bottom: 30px;
color: #d3d2d2;
line-height: 24px;
}
.company__button {
		background: transparent;
	color: #fff;
	font-size: 14px;
	line-height: 24px;
	border: 1px solid #ffc222;
	padding: 8px 24px ;
	border-right: 22px solid #ffc222;
	display: inline-block;
}
