.footer {

}
.footer__content {
	background: #595959;
	padding: 20px 0 30px;
	
}

.footer__inner {
	display: flex;
	justify-content: space-between;

}
.footer__inner .header__consult  {
	display: inline-block;
	float: none;
}
.footer__info {
	max-width: 360px;
}
.footer__title {
	font-size: 16px;
	color: #fff;
	line-height: 36px;

}
.footer__text {
	color: #d3d2d2;
	margin-bottom: 20px;
}

.footer__list {
	padding-top: 10px;
}
.footer__list li {
	margin-top: 10px;

}
.footer__list a{
	font-size: 16px;
	line-height: 24px;
	color: #fff;
	margin-left: 15px;
}
.footer__copy {
	background-color: #303030;
	text-align: center;
	font-size: 12px;
	line-height: 24px;
	padding: 8px 0;
	color: #fff;
}
