.form {
	padding-top: 30px;
}
.form__inner {
	background-image: url('../../images/woman.png');
	background-repeat: no-repeat;
	
	
	background-position: bottom right;
	padding-bottom: 40px;
	min-height: 460px;
}
.form__box{
	max-width: 850px;
	/*border: 1px solid red;*/
	padding-top: 45px;
}
.form__box-inner {
	display: flex;
	justify-content: space-between;
}
.form__box-inner label,
.form__box-inner input,
.form__box-inner textarea,
.form__box-inner select {
	display: block;
	width: 100%;
	
}

.form__box-inner input {
	margin-bottom: 8px;
	outline: none;
	height: 40px;
	border: 1px solid #e6e6e6;
	padding: 0 10px;
}
.form__box-inner select {
	outline: none;
	height: 40px;
	border: 1px solid #e6e6e6;
	padding-left: 17px;
}


.form__box-inner label {
	line-height: 36px;
	color: #282828;
}

.form__box-inner textarea {
	outline: none;
	height: 208px;
	padding: 10px;
	border: 1px solid #e6e6e6;
	resize: none;
	margin-bottom: 42px;
}
.form__button {
	background-color: transparent;

	color: #282828;
	font-size: 14px;
	line-height: 24px;
	border: 1px solid #ffc222;
	padding: 8px 24px ;
	border-right: 22px solid #ffc222;
	display: inline-block;
	position: absolute;
	right: 0;
}
.form__button:hover { 
	cursor: pointer;

}


.form__box-left {
	max-width: 260px;
	width: 100%;
}
.form__box-right {
	max-width: 555px;
	width: 100%;
	position: relative;
}
@media(max-width: 768px) {
	.form__box-inner {
		display: flex;
		flex-direction: column;
	}
	.form__box-right {
		margin-top: 150px;
	}
}
