.header__top {
	background-color: #303030;
}
.header__consult {
	float: right;
	display: block;
	font-size: 16px;
	color: #1b1b1b;
	line-height: 36px;
	background-color: #ffc222;
	padding: 5px 20px 4px 20px;

}

.header__contacts:after{
  content: "";
  clear: both;
  display: block;
}

.header__consult:hover {
	opacity: .9;
}

.header__phone {
	line-height: 45px;
	color: #cbcacb;
	letter-spacing: 0.25px;
	 padding-left: 20px;
  padding-right: 30px;
}
.header__email {
	padding-left: 24px;
	color: #cbcacb;
	letter-spacing: 0.25px;
	line-height: 45px;
}

.header__content {
	padding: 34px 0px 24px;

}
.navbar li{
	display: inline-block;

}
.d-flex {
	display: flex;
	justify-content: space-between;
	
}
.navbar a {
	font-size: 16px;
	color: #323232;
	line-height: 36px;
	border: 1px solid transparent;
	padding: 0 16px;
transition: .3s;
}
.navbar a:hover {
	border-color: #ffc222;
	
}
.navbar li:last-child {
	margin-right: -15px;
}

.mobile__navbar {
	display: none;
}

#modal{
  display: none;
}

.header__btn-menu{
  display: none;
  font-size: 28px;
}

