.info {
	background: url('../../images/block-bg.png');
	background-position: center;
	background-size: cover;
	min-height: 287px;
	background-repeat: no-repeat;
	padding: 55px 0 40px;
}
.info__inner {
	display: flex;
	justify-content: space-between;
	color: #fff;
	text-align: center;
}


.info__item {
	position: relative;
	padding: 0px 20px;
	max-width: 360px;
	min-height: 280px;
}
.info__item-title {
	font-size: 18px;
	line-height: 24px;
	padding: 60px 0px 15px;
	position: relative;
}
.info__item-title:before {
	position: absolute;
	content: '';
	width: 40px;
	height: 40px;
	border: 1px solid #ffc222;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}
/*.info__item-title:after {
	position: absolute;
	content: 'v';
	top: 10px;
	left: 50%;
	transform: translateX(-50%);
	width: 20px;
	height: 20px;


	}*/

	.info__item-text {
		line-height: 24px;
		color: #d3d2d2;
	}

	.counter-value {
		position: absolute;
		top: 12.5px;
		left: 50%;
		transform: translateX(-50%);
		width: 20px;
		height: 20px;
		font-weight: bold;
	}
