* {
	box-sizing: border-box;
}
a {
	text-decoration: none;
	display: inline-block;
}
h2{
	font-weight: 500;
}
body{
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	font-family: Roboto;
}
.center {
	max-width: 1170px;
	margin: 0 auto;
	/*border: 1px solid red;*/
	padding: 0 15px;
}

#modal {
	width: 300px;
}
#modal input {
	width: 100%;
	display: block;
	margin-bottom: 20px;
	height: 40px;
	outline: none;
	border: 1px solid #e6e6e6;
	padding: 0 10px;
}
#modal input[type="submit"] {
	background: #ffc222;
}



@media(max-width: 1024px){


	.header__btn-menu:img{
		display: none;
	}
	.news__inner{
		display: block;
	}
	.about__item {
		display: block;
	}
	.about__item{
		max-width: 80%;

		margin-left: 30px;
	}
	.news__slider {
		max-width: 100%;
		margin-bottom:60px;
	}
	.news__images {
		float: left;
		margin-right: 50px;
	}
	.news__blog{
		max-width: 100%;
		display: block;
		margin-bottom: 30px;
	}


	.news{
		padding-bottom: 60px;
	}
	.footer__info{
		max-width: 465px;
		margin-bottom: 25px;
	}

	.about__top,
	.news__top{
		display: block;
	}
	.about__item-link {
		margin-right: 30px;
	}

	.about__button,
	.news__button{
		text-align: center;
	}
	.info__inner{
		display: block;
	}
	.info__item{

		max-width: 100%;
	}
	.footer__inner{
		display: block;
	}
	.footer__map{
		max-width: 100%;
	}
	.form__inner{
		background-image: none;
	}

}


@media(max-width: 768px) {
	
	.info {
		margin-top: 30px;
	}
	.form__inner{
		background-image: none;
	}
	.header__consult {
		float: none;
	}
	.header__contacts {
		text-align: center;
	}
	.about__title-box:before{
		display: none;
	}

	.about__title-box {
		padding-left: 0;
	}
	.about__items{ 
		display: block;
	}

	.about__item-link { 
		margin-right: 30px;
	}
	
	.about__title-box {
		padding-left: 0px;
	}
	.about__item-link { 
		margin-right: 20px;
	}
	.form__box-inner {
		display: block;
	}
	.form__box-left{
		max-width: 100%;
	}
	.form__box-right{
		max-width: 100%;
	}
	.about__item{
		max-width: 100%;
		min-height: 375px;
		margin: 30px auto;
	}
	.navbar li {
		display: none;
	}
}

/*//burger menu*/
@media(max-width: 768px) {

	.header__logo {
		display: none;
	}
	.header__email {
		margin: 0;
		padding: 2px;
	}
	.header__phone {
		margin: 0;
		padding: 2px;
	}
	.header__consult {
		margin: 0;
		padding: 2px;
		font-size: 14px;
		/*width: 107%;*/
		/*	margin-left: -14px;*/
		overflow: hidden;
		line-height: 24px;
		padding: 5px 30px 4px;
		background: #000;
		color:#fff;
	}

	.mobile__navbar {
		display: block;
	}

	.mobile__navbar ul{
		position: absolute;
		left: 0;
		right: 0;
		top: 84px;
		/*z-index: 3;*/
		text-align: center;
		width: 100%;
	}
	.mobile__navbar li{
		display: block;
		width: 100%;

	}

	.mobile__navbar a{
		display: flex;
		justify-content: center;
		background-color: #ffc222;
		border: 1px solid #fff;
		min-width: 600px;
	}

	.mobile__navbar a:hover{
		background: #000;
		color: #fff;
		transition: 1s;
	}
	.header__btn-menu{
		display: block;
	}

	.header__btn-menu img:hover {
		cursor:pointer;

	}

	.header__content {
		padding: 2px;
	}

}


@media(max-width: 425px) {

	.mobile__navbar a{
		min-width: 360px;
	}
	.mobile__navbar li{
		display: block;
		width: 100%;
	}
}

.modalz {
	height: 100vh;
	width: 100%;
	position: fixed;
	z-index: 20;
	background: #000;
	opacity: .5;
	display: none;
}

.modal__contentz {
	width: 800px;
	height: 600px;
	background: #fff;
	margin: auto;	
}

.modal__contentz {
	justify-content: center;
	align-items: center;
}
