.news__company {
	padding: 55px 0px 110px;
	background-color: #f9f9f9;
}
.news__inner {
	display: flex;
	justify-content: space-between;
}
.news__slider {
	max-width: 555px;
	width: 100%;
	background-color: #fff;
	box-shadow: 0px 5px 15.36px 0.64px rgba(128, 127, 127, 0.13);
	padding: 60px 35px 45px 70px;
	position: relative;
}
.news__slider:before {
	content: '*';
	position: absolute;
	top: 0;
	
	height: 30px;
	width: 65px;
	color: #fff;
	background-color: #ffc222;
	font-size: 16px;
	text-align: center;
	line-height: 30px;
}
.news__slider-title {
	font-size: 18px;
	line-height: 24px;
	color: #242424;
	margin-bottom: 15px;
}
.news__slider-text {
	margin-bottom: 30px;

}
.news__slider-author {
	color: #000;
	font-weight: 500;
}
.news__images{
	position: relative;
}
.news__date {
	position: absolute;
	background: #ffc222;
	height: 54px;
	width: 50px;
	top: 0;
	left: 10px;
	text-align: center;
	padding-top: 30px;
	color:#fff;
}
.news__blog {
	min-width: 260px;
	width: 100%;
	margin-left: 20px;
}
.news__blog-title {
	font-size: 16px;
	color: #242424;
	padding: 12px 0px;

}
.news__blog-text {
	max-width: 255px;
	line-height: 18px;
	color: #5e5e5e;


}
.news__slider-inner .slick-btn{
	background: #ffc222;
	border-radius: 50%;
	position: absolute;
	bottom: -40px;
	top: auto;
}
.news__slider-inner .slick-next{
	right: 10px;
}

.news__slider-inner .slick-prev{
	right: 40px;
	left: auto;
}

@media(max-width: 768px) {
	.news__button a{
		padding: 5px 15px;
		margin-top: 40px;
		line-height: 14px;


	}
}
