
.about {
	padding: 50px 0 30px;
}
.about__top,
.news__top {
	display: flex;
	justify-content: space-between;
	margin-bottom: 60px;
}
.about__title,
.news__title,
.form__title {
	font-size: 24px;
	line-height: 24px;
	color: #212020;
	margin-bottom: 10px;
}
.about__title-box,
.form__title-box,
.news__title-box  {
	max-width: 520px;
	padding-left: 140px;
	position: relative;
}
.about__title-box:before,
.form__title-box:before,
.news__title-box:before{
	position: absolute;
	top: 10px;
	left: 0;
	content: '';
	width: 105px;
	height: 2px;
	background-color: #ffc222;

}

.about__text,
.form__text,
.news__text {
	color: #737373;
}
.about__button a,
.form__button a,
.news__button a{
	margin-top: 35px;
	color:#373636;
	line-height: 24px;
	padding: 5px 38px;
	border: 3px solid grey;
}
.about__button a:hover,
.news__button a:hover{
	cursor: pointer;
}

.about__items {
	display: flex;
	justify-content: space-between;

}
.about__item {
	max-width: 360px;
	min-height: 365px;
	text-align: center;
	padding: 30px 0 80px;
	/*border: 1px solid red;*/
	position: relative;
	background: #f9f9f9;
	box-shadow: 0px 7px 24.3px 2.7px rgba(91, 89, 89, 0.14);
}


.about__item-title {
	color: #212020;
	font-size: 18px;
	line-height: 24px;
	padding: 24px 0;
}
.about__item-text {
	padding: 0 30px 30px;
	margin-bottom: 60px;

}

.about__item__button {
	position: absolute;
	bottom: 40px;
	left: 0;
	right: 0;
}
.about__item__button .about__item-order  {
	color: #373636;
}


.about__item-order {
	background: transparent;
	color: #fff;
	font-size: 14px;
	line-height: 24px;
	border: 1px solid #ffc222;
	padding: 8px 24px ;
	border-right: 22px solid #ffc222;
	display: inline-block;
}

.about__item-link {
	margin-right: 60px;
	border-bottom: 1px solid #000;
	color:#000;
}




/*@media(max-width: 768px) {
	.center {
		width: 700px;
	}
	.about__title-box {
		padding-left: 0px;
	}
	.about__items{ 
		display: flex;
		flex-direction: column;
		-ms-align-items: center;
		align-items: center;

	}
	.about__item {
		margin-bottom: 20px;
	}
	}*/

